.main-container {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/todoBgVector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation-container {
  width: 15%;
  height: 100%;
  border: 1px solid #000;
  float: left;

}

.right-container {
  width: 85%;
  height: 100%;
  float: left;

}

header {
  font-size: 1.5rem;
  margin-top: 10vh;
}

header,
.tagline {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  background: #e6e6e6;
  margin: 0.1rem;
  padding: 0.5rem 0.2rem;
  cursor: pointer;
}
